@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

// animation delay... generally bad idea?
@for $i from 1 through 5 {
  $delay: 150ms;

  .anim-delay-#{$i} {
    // sets delay for the .animated-fadeup class
    --animation-delay: calc(#{$delay} * #{$i});
  }
}

.animated-fadeup {
  animation: fadeUp 0.6s forwards;
  animation-delay: var(--animation-delay);
  animation-fill-mode: both;
}
